/* :root {
} */

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}


.box {
    outline: 1px solid black;
}

#tab {
    height: 100px;
    width: 100vw;

    display: flex;
}

.tab-group {
    display: none;
}

.visible {
    display: flex;
    height: 100vh;
    width: 100vw;
}
 